:root {
    --dark: #335384;
    --light: #5ba7d1;
    --black: #444440;
    --white: #f0fff0;
    --grey: #eff0f2;
    --shadow: rgba(0,0,0,0.4);
}

h1, h2, h3, h4{
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
}
h1 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 800;
}
h2 {
    font-size: 3rem;
    color: var(--grey);
}
h3 {
    font-size: 1.7rem;
}
p, a, li {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Assistant', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    font-size: 1.2rem;
    text-decoration: none;
}

.links {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.links a {
    display: block;
    height: 100%;
    padding: .5rem 0;
    margin: auto 2em;
    color: var(--light);
    text-align: center;
    text-transform: capitalize;
    border: 3px solid transparent;
}
.links a:hover {
    color: var(--dark);
    border-bottom: 3px solid var(--dark);
}

section {
    width: 100vw;
}
.container {
    min-height: 40vh;
    width: 100vw;
    max-width: 100%;
    box-shadow:  0 5px 15px var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container {
    width: 90%;
    min-height: 80vh;
    max-width: 75em;
}

.home {
    background-color: var(--dark);
    padding: 2em 0 ;
}
.home-container {
    width: 100%;
    height: 100%;
    padding: 0 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ht pp"
}
.grid-item {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-item h1 {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--light);
}
.grid-item p {
    padding-top: 1rem;
}
.home-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.home-img-container img {
    display: block;
    max-width: 300px;
    object-fit: contain;
    background-color: var(--white);
    border: 10px solid var(--white);
    border-radius: 50%;
}
.grid-item * {
    font-weight: 500;
    color: var(--light);
}
.home-text {grid-area: ht;}
.pp-container {grid-area: pp;}

.personal {
    background-color: var(--white);
    padding: 2em 0 ;
    position: relative;
    display: flex;
}
.circle {
    position: absolute;
    margin: 0 auto;
    top: 5%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--dark);
}
.bar-divide {
    position: absolute;
    margin: 0 auto;
    width: 2px;
    height: 65%;
    border-radius: 1px;
    background-color: var(--dark);
}
.personal-container {
    width: 100%;
    padding: 2em 8em 8em 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.personal-container p {
    padding: .1em 1em;
    color: var(--dark);
}
.personal-info {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.info {
    width: 50%;
    text-align: left;
}
.data {
    width: 50%;
    text-align: left;
}

.htown {
    background-color: var(--dark);
    padding: 0 0;
    position: relative;
    display: flex;
}
.htown-container {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
}
.htown-img {
    padding: 0;
    max-width: 50%;
    height: auto;
}

.food {
    background-color: var(--dark);
    padding: 0 0;
    position: relative;
    display: flex;
}
.food-container {
    display: grid;
    grid-template-columns: 55% 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
}
.food-img {
    padding: 0;
    max-width: 50%;
    height: auto;
}